// Alejandro Atacho Root color and $colors the root are from odoo, and the "$" are the ones I use outside of odoo.
//you don't need to drop this file in odoo, its just to make visual studio code easier to edit in
//_________________________________________________
// If any issues arises or fixes are need read the comments
:root {
  --100: #f8f9fa;
  --200: #e9ecef;
  --300: #dee2e6;
  --400: #ced4da;
  --500: #adb5bd;
  --600: #6c757d;
  --700: #495057;
  --800: #343a40;
  --900: #212529;
  --white-85: rgba(255, 255, 255, 0.85);
  --white-75: rgba(255, 255, 255, 0.75);
  --white-50: rgba(255, 255, 255, 0.5);
  --white-25: rgba(255, 255, 255, 0.25);
  --black-75: rgba(0, 0, 0, 0.75);
  --black-50: rgba(0, 0, 0, 0.5);
  --black-25: rgba(0, 0, 0, 0.25);
  --black-15: rgba(0, 0, 0, 0.15);
  --black: #000000;
  --white: #ffffff;
  --o-cc1-text: #212529;
  --o-cc1-headings: #212529;
  --o-cc1-h2: #212529;
  --o-cc1-h3: #212529;
  --o-cc1-h4: #212529;
  --o-cc1-h5: #212529;
  --o-cc1-h6: #212529;
  --o-cc1-link: #992a4f;
  --o-cc1-btn-primary-border: #337ab7;
  --o-cc1-btn-secondary: #685563;
  --o-cc1-btn-secondary-border: #685563;
  --o-cc2-text: #212529;
  --o-cc2-h2: #cc4371;
  --o-cc2-h3: #cc4371;
  --o-cc2-h4: #cc4371;
  --o-cc2-h5: #cc4371;
  --o-cc2-h6: #cc4371;
  --o-cc2-link: #992a4f;
  --o-cc2-btn-primary-border: #cc4371;
  --o-cc2-btn-secondary: #685563;
  --o-cc2-btn-secondary-border: #685563;
  --o-cc3-text: #ffffff;
  --o-cc3-headings: #ffffff;
  --o-cc3-h2: #ffffff;
  --o-cc3-h3: #ffffff;
  --o-cc3-h4: #ffffff;
  --o-cc3-h5: #ffffff;
  --o-cc3-h6: #ffffff;
  --o-cc3-link: #dc7f9e;
  --o-cc3-btn-primary-border: #cc4371;
  --o-cc3-btn-secondary-border: #f6f6f6;
  --o-cc4-text: #ffffff;
  --o-cc4-headings: #ffffff;
  --o-cc4-h2: #ffffff;
  --o-cc4-h3: #ffffff;
  --o-cc4-h4: #ffffff;
  --o-cc4-h5: #ffffff;
  --o-cc4-h6: #ffffff;
  --o-cc4-link: #16181b;
  --o-cc4-btn-primary-border: #383e45;
  --o-cc4-btn-secondary-border: #f6f6f6;
  --o-cc5-text: #ffffff;
  --o-cc5-h2: #ffffff;
  --o-cc5-h3: #ffffff;
  --o-cc5-h4: #ffffff;
  --o-cc5-h5: #ffffff;
  --o-cc5-h6: #ffffff;
  --o-cc5-link: #dc7f9e;
  --o-cc5-btn-primary-border: #dc7f9e;
  --o-cc5-btn-secondary-border: #f6f6f6;
  --o-grid-gutter-width: 30px;
  --o-md-container-max-width: 720px;
  /*2nd root*/
  --blue: #007bff;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #dc3545;
  --orange: #fd7e14;
  --yellow: #ffc107;
  --green: #28a745;
  --teal: #20c997;
  --cyan: #17a2b8;
  --white: #ffffff;
  --gray: #6c757d;
  --gray-dark: #343a40;
  --o-cc5-btn-secondary-border: ;
  --o-cc5-btn-secondary: #f6f6f6;
  --o-cc5-btn-primary-border: ;
  --o-cc5-btn-primary: #dc7f9e;

  --o-cc5-headings: #ffffff;

  --o-cc5-bg: #383e45;
  --o-cc4-btn-secondary-border: ;
  --o-cc4-btn-secondary: #f6f6f6;
  --o-cc4-btn-primary-border: ;
  --o-cc4-btn-primary: #383e45;
  --o-cc4-link: #383e45;
  --o-cc4-bg: #cc4371;
  --o-cc3-btn-secondary-border: ;
  --o-cc3-btn-secondary: #f6f6f6;
  --o-cc3-btn-primary-border: ;
  --o-cc3-btn-primary: #cc4371;

  --o-cc3-bg: #685563;
  --o-cc2-btn-secondary-border: ;
  --o-cc2-btn-secondary: ;
  --o-cc2-btn-primary-border: ;
  --o-cc2-btn-primary: #cc4371;

  --o-cc2-headings: #cc4371;

  --o-cc2-bg: #f6f6f6;
  --o-cc1-btn-secondary-border: ;
  --o-cc1-btn-secondary: ;
  --o-cc1-btn-primary-border: ;
  --o-cc1-btn-primary: #337ab7;

  --o-cc1-bg: #ffffff;
  --copyright-custom: rgba(0, 0, 0, 0.15);
  --footer-custom: #fcffff;
  --footer: #383e45;
  --header-boxed-custom: #e9ecef;
  --body: white;
  --o-color-5: #383e45;
  --o-color-4: #ffffff;
  --o-color-3: #f6f6f6;
  --o-color-2: #685563;
  --o-color-1: #cc4371;
  --primary: #cc4371;
  --secondary: #685563;
  --success: #28a745;
  --info: #17a2b8;
  --warning: #ffc107;
  --danger: #dc3545;
  --light: #f7f7f7;
  --dark: #1a1a1a;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Roboto", "Odoo Unicode Support Noto", sans-serif;
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
}
$font-family-sans-serif: "Roboto", "Odoo Unicode Support Noto", sans-serif;
$primary-color: #685563;
$primary-color-light: #a593a5;
$primary-color-effect: #ffc107;
$secondary-color: #f8f9fa;
$button_active: #cc4371;
$white-color: #ffffff;
$black-color: rgba(0, 0, 0, 0.75);
